---
import PokemonCard from "../components/PokemonCard.astro";
import { getPokemonsApi } from "./api/pokemons/pokemonIndex";
type Pokemon = {
  name: string;
  url: string;
};

const PokemonArray = await getPokemonsApi();

const pokemonDetails: Pokemon[] = PokemonArray.results;
// console.log(pokemonDetails);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img src="../../PokemonTitle.png" class="title" />
    <div class="columns">
      {
        pokemonDetails.map((data: Pokemon) => {
          return <PokemonCard url={data.url} />;
        })
      }
      <!-- <PokemonCard url={PokemonArray.results[0].url} />; -->
    </div>
  </body>
</html>

<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
    width: 80%;
  }

  .columns {
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se envuelvan a la siguiente línea */
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
  }

  /* Estilo para cada columna (cada PokemonCard) */
  .columns > * {
    flex-basis: calc(33.33% - 10px); /* Ancho de cada columna */
  }
</style>
