<div class="box">
    <h1 class="title">todos</h1>
    <div class="minibox">
        <ul class="list">
            <li>What needs to be done?</li>
            <li>Go Shopping</li>
            <li>Refactor Backend</li>
            <li>Add new feature to app</li>
            <li>Todo1</li>
        </ul>
    </div>
</div>

<style>
    .box {
        font-size: 65px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 100px; /* Aumenta el margen superior */
        padding: 100px; /* Aumenta el espacio interno */
        background-color: #a4b1af; /* Cambia el color de fondo */
        position: relative;
        border-radius: 50px;
        width: 1000px;
    }

    .minibox {
        background-color: #bec8c6; /* Cambia el color de fondo */
        border-radius: 50px;
    }

    .list {
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #333;
        background-color: #f4f4f4;
        display: block;
        border: 1px solid #121111; /* Aplica un borde alrededor de cada elemento */
        margin-bottom: 2px; /* Añade espacio entre los elementos */
        padding: 0; /* Elimina el padding del contenedor ul */
    }

    .list li {
        border: 1px solid #121111; /* Aplica un borde alrededor de cada elemento */
        padding: 15px 40px; /* Ajusta el padding de los elementos li */
        list-style-position: inside; /* Coloca los puntos dentro del borde */
        list-style-type: circle;
    }
</style>
