---
import { getPokemonByUrl } from "../pages/api/pokemons/pokemonIndex";

const URL: string = Astro.props.url;

const pokemonDetails = await getPokemonByUrl(URL);

// console.log(URL, "asdasdasds");
---

<div class="pokemon-container">
  <h2 class="id">#{pokemonDetails.id}</h2>
  <img
    src={pokemonDetails.sprites.front_default}
    alt={pokemonDetails.forms[0].name}
  />
  <h2 class="pokemon-name">{pokemonDetails.forms[0].name}</h2>
</div>

<style></style>

<script>
  const CARD_DIV = document.querySelector(".pokemon-container");
  const NAME_CLASS = document.querySelector(".pokemon-name");
  const POKEMON_ID = document.querySelector(".id");

  async function createPokemonContainer(pokemon: Pokemon) {
    const POKEMON_CONTAINER = document.createElement("div") as HTMLDivElement;
    const POKEMON_NUMBER = document.createElement("h2") as HTMLHeadElement;
    const POKEMON_IMAGE = document.createElement("img") as HTMLImageElement;
    const POKEMON_NAME = document.createElement("h2") as HTMLHeadElement;

    POKEMON_CONTAINER.classList.add(".pokemon-container");
    POKEMON_NUMBER.classList.add(".id");
    POKEMON_NAME.classList.add(".pokemon-name");

    POKEMON_NUMBER.textContent = "";
    POKEMON_IMAGE.src = "none";
    POKEMON_IMAGE.alt = "";
    POKEMON_NAME.textContent = "";

    POKEMON_CONTAINER.appendChild(POKEMON_NUMBER);
    POKEMON_CONTAINER.appendChild(POKEMON_IMAGE);
    POKEMON_CONTAINER.appendChild(POKEMON_NAME);

    return POKEMON_CONTAINER;
  }
</script>
