---
import { getPokemonByUrl } from "../pages/api/pokemons/pokemonIndex";
type Pokemon = {
    name: string;
    url: string;
}
const { PokemonArray } = Astro.props.data;



async function formArray() {
    const urlArray: string[] = []
    PokemonArray.array.forEach((pokemon: Pokemon) => {
        urlArray.push(pokemon.url)
    });
    return urlArray
}
// const pokemonDetails = await getPokemonByUrl(URL);
---

<div class="pokemon-container">
 {

    PokemonArray.map((Pokemon: Pokemon ) => {
    const pokemonDetails = await getPokemonByUrl(Pokemon.url);
    })
 }
<!--     
  <h2>{pokemonDetails.forms[0].name}</h2>
  <h2>ashjdiahsdkjhask</h2>
  {console.log(pokemonDetails.forms[0].name)} -->
</div>

<style>
  .pokemon-container {
    border-radius: 8%;
    border: 2px solid grey;
    justify-content: center;
    display: block;
  }
</style>
