---
import { Console } from "console";
import { getPokemonByUrl } from "../pages/api/pokemons/pokemonIndex";

const URL: string = Astro.props.url;

const pokemonDetails = await getPokemonByUrl(URL);

console.log(URL, "asdasdasds");
---

<div class="pokemon-container">
  <h2>{pokemonDetails.forms[0].name}</h2>
  {console.log(pokemonDetails.forms[0].name)}
</div>

<style>
  .pokemon-container {
    border-radius: 5%;
    border: 2px solid grey;
    justify-content: center;
    display: block;
    width: 25%;
    padding: 25px;
    margin: 40px;
    align-content: center;
    justify-content: center;
  }
</style>
