

<h1 class="timer"> 0:00</h1>
  <button class="start-button">
      START
  </button>
  <img class="gif" src="" style="display: none;">
  
  



<script>
  const button = document.querySelector('.start-button')
  const timer = document.querySelector('.timer')
  const gif = document.querySelector('.gif')
  button?.addEventListener('click', () => {
    let count = 60 * 5;
    const interval = setInterval(() => {
      count--
      const minutes = Math.floor(count / 60).toString().padStart(2, '0')
      const seconds = (count % 60).toString().padStart(2, '0')
      const text = `${minutes}:${seconds}`
      console.log(text)
      if (timer) {
        timer.innerHTML = text;
      }
      if (count <= 0) {
        clearInterval(interval)
        gif.src = 'gargar-flip.gif'
        gif.style.display = 'block'
        gif.onload = () => {
          setTimeout(() => {
          gif.style.display = 'none'; 
          alert("TIME UP!")
          }, 2000); 
        }
      }
    }, 1000)
  })
</script>