<section class = "card">
  <div class = "timer-container">
    <a class = "timer">00:00</a>
  </div>
  <div class = "button-container">
    <button class = "start-button">Start</button>
    <button class = "stop-button">Stop</button>
    <button class = "reset-button">Reset</button>
  </div>
</section>

<script class = "timer-script">
  const startButton = document.querySelector('.start-button')
  const stopButton = document.querySelector('.stop-button')
  const resetButton = document.querySelector('.reset-button')
  const timer = document.querySelector('.timer')

  let interval; 

  startButton?.addEventListener('click', () => {
    let count = 60 * 5;
    interval = setInterval(() => { 
      count--;
      const minutes = Math.floor(count / 60).toString().padStart(2, '0');
      const seconds = (count % 60).toString().padStart(2, '0');
      const text = `${minutes}:${seconds}`;
      timer.innerHTML = text;
      if (count <= 0) {
        clearInterval(interval);
      }
    }, 1000);
  });

  stopButton?.addEventListener('click', () => {
    clearInterval(interval);
  });

  resetButton?.addEventListener('click', () => {  
    clearInterval(interval); 
    count = 60 * 5; 
    timer.innerHTML = `${Math.floor(count / 60).toString().padStart(2, '0')}:${(count % 60).toString().padStart(2, '0')}`;
  });
</script>