---
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta name="description" content="Astro description" />
			<meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap">
			<title>{title}</title>
		</head>
		<body class="flex h-screen w-screen flex-col justify-center items-center font-sans bg-[#e5e5e5]">
      <div class="pb-4">
        <label class="text-[#AF2F2F] opacity-15 font-bold text-[60px]">{title}</label>
      </div>
			<slot />
		</body>
	</html>